

{% extends "AppBundle:Default:layout.html.twig" %}

{% block body %}
<div id="page-wrapper">
            <div class="row">
                <div class="col s12">
                    <h1 class="page-header">Toutes les listes</h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
            <div class="col s12">
          {% for famille in famille %}
            <a href="{{ path('gnet_platform_autreListe', {'id':famille.pater})}}">
            <div class="col s3">
               <div class="card-panel grey lighten-5 z-depth-1">
                 <div class="row valign-wrapper">
                   <div class="col s6">
                     <img  style="height:100px;width:100px;" src="{{ asset('/img/famille/' ~ famille.nom ~ '.jpg')}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                   </div>
                   <div class="col s6">
                     <span class="black-text">
                       {{ famille.nom }}
                     </span>
                   </div>
                 </div>
               </div>
             </div>
</a>

             {% endfor %}

            </div>

        </div>
</div>
        {% endblock %}
