{% extends "AppBundle:Default:layout.html.twig" %}
{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

{% if (app.user.birthday|date('U') > '2000-01-01'|date('U')) %}

<div id="page-wrapper"> <h1><br><br><br>Tu es bien trop jeune pour accéder à cette page ;)<h1></div>


{% else %}

<div id="page-wrapper" onload="myFunction2()">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dépenses et crédit </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                            <canvas id="myChart" width="400" height="200"></canvas>

                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row --></div>

{% endif %}
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
            responsive: true
    });
});
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>




<script>
var data = {
    labels: [{% for key, value in resultat if key != 'Tout le monde' %}"{{ key }}", {% endfor %}],
    datasets: [
        {
            label: "Balances des débits et crédits",
            backgroundColor: [
                {% for key, value in resultat if key != 'Tout le monde' %}
                {% if  value > 0 %}'rgba(75, 192, 192, 0.2)'{% else %}'rgba(255, 99, 132, 0.2)'{% endif %},
            {% endfor %}
            ],
            borderColor: [
            {% for key, value in resultat if key != 'Tout le monde' %}
            {% if  value > 0 %}'rgba(75, 192, 192, 1)'{% else %}'rgba(255, 99, 132, 1)'{% endif %},
        {% endfor %}
            ],
            borderWidth: 1,
            data: [{% for key, value in resultat if key != 'Tout le monde' %}"{{ value|round(2) }}", {% endfor %}],
        }
    ]
};
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: data,
});

</script>
{% endblock %}
